# {{ ansible_managed }}
<VirtualHost *:80>
    ServerName adminer.{{ ansible_fqdn }}
    ServerAdmin admin@localhost

    DocumentRoot {{ webserver_root}}/adminer
    <Directory {{ webserver_root }}/adminer>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Require all granted
    </Directory>

    CustomLog /var/log/uphpuntu/adminer.access.log common
    ErrorLog /var/log/uphpuntu/adminer.error.log
</VirtualHost>